* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    overflow-x: hidden;
    background: var(--light);
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}