* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-body);
    color: var(--text-dark);
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: var(--transition);
}