---
import Layout from "../../../layouts/MainLayout.astro";
import Seo from "../../../lib/seo/metadada.astro"
import '../../../styles/pages/favoritos.css';
import Favoritos from "@/components/achadinhos/favoritos.astro";
---
<Seo
    title="Meus Favoritos: Suas Melhores Ofertas Salvas | Baú de Promoções"
    description="Acesse sua lista personalizada e não perca nenhuma oportunidade! Confira os preços dos produtos que você favoritou e garanta o melhor desconto no Baú de Promoções."
    type="article"
></Seo>
<Layout>

     <section class="hero-section" style="position: relative;">
      <div class="faq-wrapper">
        <a href="/achadinhos" class="btn-back">
          <svg class="icon-back" viewBox="0 0 24 24" fill="none" stroke-width="2.5">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>
          Voltar
        </a>

        <h1>Meus Favoritos: Suas Melhores Ofertas Salvas 🔥</h1>
        <p>Acesse sua lista personalizada e não perca nenhuma oportunidade! Confira os preços dos produtos que você favoritou e garanta o melhor desconto no Baú de Promoções.</p>
        </div>
        </section>
    <div class="main-content">
        <div id="fav-grid" class="fav-grid">
            <div class="loading-container">
                <i class="fas fa-circle-notch fa-spin" style="font-size: 3rem; color: #333;"></i>
                <p style="margin-top: 15px; font-weight: 600; color: #666;">Verificando login...</p>
            </div>
        </div>
    </div>

    <Favoritos client:load/>
</Layout>