---
import '../styles/global.css'
import Login from '../components/components/login.astro'
import Footer from '../components/components/footer.astro'
import Topbar from '../components/components/topbar/topbar.astro'
import Menu from '../components/components/topbar/menu.astro'
---
<!DOCTYPE html>
<html lang="pt-br">
  <head slot="seo"></head>
  <header>
    <Topbar />
  </header>
  <body>
    <Menu />
    <main id="main-content">
        <slot />
    </main>
    <Footer />
    <Login />
  </body>
</html>